<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link
		rel="stylesheet" href="{{ asset('css/style.css') }}"/>
		<!-- Material icons -->
		<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet"> {% block stylesheets %}{% endblock %}
		</head>

		<body>
			<header>
				<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-sm">
					<div class="container">
						<a class="navbar-brand" href="#">PRIMUS-NOTIF</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item">
									<a class="nav-link" href="#">
										<span class="material-icons">
											home
										</span>
										<span class="menus">
											Accueil
										</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<span class="material-icons">
											support
										</span>
										<span class="menus">
											Contenu d'aide
										</span>
									</a>
								</li>
                                <li class="nav-item">
									<a class="nav-link" href="#">
										<span class="material-icons">
											info
										</span>
										<span class="menus">
											À propos
										</span>
									</a>
								</li>
							</ul>

							<ul class="navbar-nav ml-auto">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span>
											<img src="{{ asset('img/avatar.png') }}" class="rounded-circle" height="40"/>
											{% if app.user is defined and app.user is not null %}
												{{ app.user.firstName~" "~app.user.lastName }}
											{% endif %}
										</span>
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="#">Action</a>
										<a class="dropdown-item" href="#">Another action</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Something else here</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>

			<main id="app"> {% block body %}{% endblock %}
				</main>

				<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
				<!-- Vue JS -->
				<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
				<script src="{{ asset('js/script.js') }}"></script>
				{% block javascripts %}{% endblock %}
			</body>

		</html>
